name: build-and-test

on: push

jobs:
  build:
    name: "Build pylib on Debian"
    runs-on: ubuntu-latest
    container: debian:trixie
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4
      - name: Install build tools
        run: |
          apt update
          apt install -y git cmake ninja-build g++-mingw-w64-x86-64 gcc-mingw-w64-x86-64 wget curl mono-devel
          wget --no-check-certificate https://dist.nuget.org/win-x86-commandline/latest/nuget.exe
          chmod +x nuget.exe
          mono nuget.exe install python -Version 3.13.0
      - name: Execute build
        run: |
          ls -l
          pwd
          ls -l mingw-pipeline-tests/
          cmake --preset mingw-release
          cmake --build --preset mingw-release --target install
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: build-artifacts
          path: |
            build/mingw-release/install
            python.3.13.0
